.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .login-row {
    width: 100%;

    .login-col {
      .error-text {
        display: block;
        margin-bottom: 0.5rem;
      }

      .formButton {
        display: block;
        margin: 0 auto;
        width: 50%;
      }
    }
  }
}
